modules = ["python-3.11", "nodejs-20", "postgresql-16"]
[agent]
expertMode = true
integrations = ["python_database:1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["alsa-lib", "at-spi2-atk", "atk", "cairo", "cargo", "chromium", "cups", "expat", "ffmpeg-full", "freefont_ttf", "freetype", "gdk-pixbuf", "ghostscript", "glibcLocales", "gobject-introspection", "graphviz", "gtk3", "imagemagickBig", "inkscape", "jq", "lcms2", "libdrm", "libgbm", "libiconv", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "libxkbcommon", "mesa", "nspr", "nss", "openjpeg", "pango", "pkg-config", "qhull", "round", "rustc", "tcl", "tk", "xdg-utils", "xorg.libX11", "xorg.libXcomposite", "xorg.libXdamage", "xorg.libXext", "xorg.libXfixes", "xorg.libXrandr", "zlib"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Dramamu Bot Development"

[[workflows.workflow]]
name = "Dramamu Bot Development"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd development && PORT=5000 python runner.py"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 36971
externalPort = 8099

[[ports]]
localPort = 37111
externalPort = 8080

[[ports]]
localPort = 39413
externalPort = 5000

[[ports]]
localPort = 40555
externalPort = 3002

[[ports]]
localPort = 40857
externalPort = 3001

[[ports]]
localPort = 41453
externalPort = 5173

[[ports]]
localPort = 41883
externalPort = 9000

[[ports]]
localPort = 42369
externalPort = 6800

[[ports]]
localPort = 43087
externalPort = 4200

[[ports]]
localPort = 43855
externalPort = 8008

[[ports]]
localPort = 45383
externalPort = 8000

[[ports]]
localPort = 45789
externalPort = 3003

[[ports]]
localPort = 45957
externalPort = 8081
